.friend_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 120px 8px 12px;
    border-radius: 4px;
}

.item + .item {
    margin-top: 15px;
}

.status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    margin: 0 0 0 10px;
}

.name {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 0 10px;
}