.transaction_history {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.61);
        -moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.61);
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.61);
}

.transaction_history thead {
    font-size: 18px;
    color: #eeeeee;
    background-color: rgb(53, 215, 236);
    width: 100px;
}

.transaction_history th {
    width: 150px;
    padding: 10px 40px;
}

.transaction_history tbody{
    font-size: 18px;
    color: #969696;
}

.transaction_history td {
    text-align: center;
    padding: 10px 40px;
}